/*******************************************************************************/
/*       						         	      Alerts					                           */
/*******************************************************************************/
@mixin alert-struct($alt-width, $alt-height, $alt-radius, $alt-p, $alt-margin) {
  width: $alt-width;
  height: $alt-height;
  border-radius: $alt-radius;
  padding: $alt-p;
	margin: $alt-margin;
}

@mixin alert-text($alt-f-family, $alt-f-size, $alt-f-weight, $alt-text-decoration, $alt-text-align) {
  font-family: $alt-f-family;
  font-size: $alt-f-size;
  font-weight: $alt-f-weight;
  text-decoration: $alt-text-decoration;
  text-align: $alt-text-align;
}

@mixin alert-color ($alt-color, $alt-bg-color) {
	color: $alt-color;
	background-color: $alt-bg-color;
}

@mixin alert-close () {
	font-family: $alt-close-f-family;
	font-size: $alt-close-f-size;
	color: $alt-close-f-color;
	transition: $alt-close-transition;
	float: $alt-close-float;
	line-height: $alt-close-lh;

	&:hover {
		color: darken($alt-close-f-color, 100%);
		cursor: $alt-close-cursor;
	}
}

/* Used to create a default alert */
@mixin alert () {
	@include alert-struct($alt-width, $alt-height, $alt-br, $alt-p, $alt-margin);
	@include alert-text($alt-f-family, $alt-f-size, $alt-f-weight, $alt-text-decoration, $alt-text-align);
	@include alert-color($alt-f-color-light, $alt-bg-color-default);
}
