/*******************************************************************************/
/*                                Buttons                                      */
/*******************************************************************************/
@mixin button-struct($btn-width, $btn-height, $btn-radius, $btn-p) {
  width: $btn-width;
  height: $btn-height;
  border-radius: $btn-radius;
  padding: $btn-p;
  cursor: $btn-cursor;
}

@mixin button-text($btn-f-family, $btn-f-size, $btn-f-weight, $btn-text-decoration, $btn-text-align) {
  font-family: $btn-f-family;
  font-size: $btn-f-size;
  font-weight: $btn-f-weight;
  text-decoration: $btn-text-decoration;
  text-align: $btn-text-align;
}

@mixin button-style($btn-bg-img, $btn-border, $btn-shadow, $btn-active-transform, $btn-active-transition) {
  background-image: $btn-bg-img;
  border: $btn-border;
  box-shadow: $btn-shadow;

  &:active {
    transform: $btn-active-transform;
    transition: $btn-active-transition;
  }
}

@mixin button-color($btn-color, $btn-bg-color) {
  color: $btn-color;
  background-color: $btn-bg-color;

  &:hover {
    background-color: darken($btn-bg-color, 10%);
  }
  &:active {
    background-color: darken($btn-bg-color, 20%);
  }
}

/* Used to create a default button */
@mixin button (){
  @include button-struct($btn-width, $btn-height, $btn-br-m, $btn-p-m);
  @include button-text($btn-f-family, $btn-f-size-m, $btn-f-weight, $btn-text-decoration, $btn-text-align);
  @include button-style($btn-bg-img, $btn-border, $btn-shadow, $btn-active-transform, $btn-active-transition);
  @include button-color($btn-f-color-dark, $btn-bg-color-1);
}
