/*******************************************************************************/
/*                               Typography                                    */
/*******************************************************************************/
body {
	font-family: $font-family;
	padding-left: 10vw;
	padding-right: 10vw;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 5px;
}
h1 {
	font-size: 4rem;
	font-weight: bold;
}
h2 {
	font-size: 3rem;
	font-weight: bold;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.8rem;
}
h5 {
	font-size: 1.5rem;
}
h6 {
	font-size: 1.2rem;
}
small, .subtitle {
	color: grey;
	font-size: 0.7em;
}
p {
	margin: 0;
}
mark {
	background-color: yellow;
}
del {
	text-decoration: line-through red;
}
ins {
	color: red;
	text-decoration: underline;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
.l-align {
	text-align: left;
}
.r-align {
	text-align: right;
}
.c-align {
	text-align: center;
}
.j-align {
	text-align: justify;
}
.inMaj {
	text-transform: uppercase;
}
.inMin {
	text-transform: lowercase;
}
ul > li {
	margin-left: 50px;
	list-style-type: disc;
}
.style-square > li {
	list-style-type: square;
}
.style-none > li {
	list-style-type: none;
}
blockquote {
	padding: 0 10rem;
	font-style: oblique;
}
code {
	display: inline-block;
	padding: 0.5rem;
	font-family: Courier, monospace;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: lightgrey;
	white-space: pre;
	box-shadow: -2px 2px 5px #888888;
}
pre {
	display: inline-block;
	padding-right: 2rem;
	padding-top: 20px;
	font-family: Consolas, monospace;
	border: 1px solid darkgrey;
	border-radius: 5px;
	border-left: 1rem solid #f25e23;
	border-right: 1rem solid #f25e23;
	color: #F5F5F5;
	background-color: #272822;
	box-shadow: -2px 2px 5px black;
}
kbd {
	font-family: monospace;
}
.table {
	border: 1px solid black;
	margin: 1rem 2rem;
}
.table th {
	background-color: lightgrey;
	border-bottom: 1px solid black;
}
.table th, .table td {
	padding: 5px;
}
.alt_lines tr:nth-child(2n+1) {
	background-color: lightblue;
}
.alt_lines tr:nth-child(2n+2) {
	background-color: #E8E8E8;
}
.borders th, .borders td {
	border: 1px solid black;
}
.hoverlines tr:hover {
	opacity: 0.5;
}

img {
	max-width: 100%;
	height: auto;
}
